{% extends "base.html" %}

{% block content %}
<div class="container pt-5 hero">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <div class="row text-md-left">
        <p>Deep learning for risk prediction in cardiac surgery. Made possible with the guidance and support of the amazing ANZSCTS National Audit Database team and Monash University</p>
      </div>
      <div class="row justify-content-md-center">
        <img src="static/images/monash.png" alt="Image" class="img-fluid">
      </div>
    </div>

    <div class="col-7">
      <div class="row justify-content-md-center">
        <img src="static/images/smaller.png" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>
{% endblock %}

